.notification {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.notification__failure {
   color: red;
}

.notification__success {
    color: green;
 }

